.ajaxtable_excode {
	overflow:auto;
	margin:10px;
	padding:10px;
	font-family:"Courier New", Courier, monospace;
	font-size:11px;
	border:1px solid #999999;
	background-color:#FDFFE8;
	white-space:pre;
}
.ajaxtable_extable {
	padding:5px;
	border:1px solid #333333;
	background-color:#CCCCCC;
}
.ajaxtable_extable {
	border-collapse:collapse;
	background-color:#FDFFE8;
}
.ajaxtable_extable-td {
	font-size:11px;
	padding:3px;
	border:1px solid silver;
}
h3 {
	margin-top:30px;
	margin-bottom:15px;
	font-weight:bold;
	font-size:20px;
}
h2 {
	margin-top:30px;
	margin-bottom:15px;
	font-weight:bold;
	font-size:24px;
}
h4 {
	font-weight:bold;
	text-decoration:underline;
}
.ajaxtable-warning {
	color:red;
}
textarea, select {
	font-size:10px;
	width:100%;
	background-color: #D2F9FD;
}
.caption {
	font-size:11px;
	font-weight:bold;
	text-align:center;
}