/* Styles applied automatically */
.ajaxtable-input td {
	padding:1px;
}
.ajaxtable-input td table td {
	border:0px;
}
.ajaxtable-input th {
	padding:0px;
}
.ajaxtable-input-fauxlink {
	color:#006699;
	text-decoration:underline;
	cursor:pointer;
}
.ajaxtable-input-nav-page {
	margin-left:3px;
	margin-right:3px;
}
.ajaxtable-input table {
	border-collapse:collapse;
	white-space:nowrap;
	font-size:10px;
	margin:0px;
	width:auto;
}
.ajaxtable-input tbody {
	border:0px;
}
.ajaxtable-input {
	line-height:normal;
}
.ajaxtable-input table td {
	font-size:10px;
	padding:1px;
}
.ajaxtable-input th td {
	white-space:nowrap;
}
.ajaxtable-input th {
	border:1px solid #999999;
}
.ajaxtable-input .odd td {
	background-color: #F7F7F7;
	border:1px solid #999999;
}
.ajaxtable-input .odd td td,  .ajaxtable-input .even td td{
	border:0px;
}
.ajaxtable-input .even td {
	background-color: #E4E4E4;
	border:1px solid #999999;
}
.ajaxtable-input table td table td {
	border:0px;
}
.ajaxtable-input p {
	font-size:11px;
	margin:0px;
}
.ajaxtable-input-results-table table td {
	border:0px solid silver;
	padding:3px;
}
.ajaxtable-input-loaded {
	height:16px;
	width:16px;
	background-image:url(loaded.gif);
}
.ajaxtable-input-loading {
	height:16px;
	width:16px;
	background-image:url(loading.gif);
}
.ajaxtable-input-current-page {
	font-size:120%;
	font-weight:bold;
}
.ajaxtable-input input {
	font-size:10px;
	padding:0px;
	margin:0px;
}
.ajaxtable-input th {
	background-color: #F2F2F2;
	padding:1px;
	color: #000000;
}
.ajaxtable-input .odd td {
	background-color: #FFFFCC;
}
.ajaxtable-input .even td {
	background-color: #FFFFCC;
}
.ajaxtable-input-pointer {
	cursor:pointer;
}
.ajaxtable-input-search {
}
.ajaxtable-input-search table td {
	padding:0px;
	padding-bottom:2px;
}
.ajaxtable-input-search td input {
	white-space:nowrap;
	vertical-align:middle;
	font-size:14px;
}
.ajaxtable-input-asc-off {
	height:9px;
	width:9px;
	background:url(asc_off.gif) center no-repeat;
}
.ajaxtable-input-asc-on {
	height:9px;
	width:9px;
	background:url(asc_on.gif) center no-repeat;
}
.ajaxtable-input-desc-off {
	height:9px;
	width:9px;
	background:url(desc_off.gif) center no-repeat;
}
.ajaxtable-input-desc-on {
	height:9px;
	width:9px;
	background:url(desc_on.gif) center no-repeat;
}
.ajaxtable-input-help {
	height:9px;
	width:9px;
	background:url(help.gif) center no-repeat;
}
.ajaxtable-input-info-td {
	margin-left:10px;
}
.ajaxtable-input-autosearch-icon {
	height:16px;
	width:16px;
	background-image:url(autosearch.gif);
}
.ajaxtable-input-hover {
	cursor:pointer;
}
.ajaxtable-input .ajaxtable-input-hightlight td {
	background-color:#FFFF66;
}


/* Styles applied in theme */
.ajaxtable-input-nav {
	margin-bottom:4px;
	font-size:11px;
	padding:1px;
}
.ajaxtable-input-nav td {
	padding-right:5px;
	padding-left:5px;
	vertical-align:middle;
	white-space:nowrap;
}
.ajaxtable-input-th-label {
	width:100%;
}


/* Cluetip styles */

.clue-right-ajaxtable-input-jtitle {
  background-image: url(cluetip-arrow-left.gif);
  background-repeat: no-repeat;
  padding-left: 10px;
}
.clue-left-ajaxtable-input-jtitle {
  background-image: url(cluetip-arrow-right.gif);
  background-repeat: no-repeat;
  padding-right: 10px;
}
.cluetip-ajaxtable-input-jtitle h3#cluetip-title { 
	background-color: #666666;
	color:#FFFFFF;
	font-size:13px;
	font-weight:bold;
	margin:0px;
}
.cluetip-ajaxtable-input-jtitle #cluetip-outer {
  border: 1px solid #666666;
  position: relative;
  background-color: #fff;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
}
.cluetip-ajaxtable-input-jtitle #cluetip-inner {
  padding: 0;
  display: inline-block;
	padding:2px;
}
.ajaxtable-input-warning {
	height:16px;
	width:16px;
	background-image:url(warning.gif);
}