/* Styles applied automatically */

.ajaxtable-default td {
	padding:1px;
	line-height:100%;
}
.ajaxtable-default-results-table td {
	padding:3px;
	line-height:100%;
}
.ajaxtable-default th {
	padding:0px;
}

.ajaxtable-default form {
	margin:0px;
	padding:0px;
	margin-bottom:0em;
}
#center .ajaxtable-default form {
	margin-bottom:0em;
}
.ajaxtable-default-fauxlink {
	color:#006699;
	text-decoration:underline;
	cursor:pointer;
}
.ajaxtable-default-nav-page {
	margin-left:3px;
	margin-right:3px;
}
.ajaxtable-default table {
	width:100%;
	border-collapse:collapse;
	margin:0px;
}
.ajaxtable-default-results-table table td {
	padding:3px;
}
.ajaxtable-default-loaded {
	height:16px;
	width:16px;
	background-image:url(loaded.gif);
}
.ajaxtable-default-loading {
	height:16px;
	width:16px;
	background-image:url(loading.gif);
}
.ajaxtable-default-warning {
	height:16px;
	width:16px;
	background-image:url(warning.gif);
}
.ajaxtable-default-current-page {
	font-size:120%;
	font-weight:bold;
}
.ajaxtable-default input {
	font-size:11px;
	line-height:normal;
	padding:0px;
	margin:0px;
}
.ajaxtable-default select {
	font-size:11px;
	line-height:normal;
	padding:0px;
	margin:0px;
}
.ajaxtable-default th {
	background:url(th-bg.gif) repeat-x bottom #f2f2f2;
	color:#333333;
	border:1px solid #999999;
	white-space:nowrap;
}
.ajaxtable-default th td {
	white-space:nowrap;
}
.ajaxtable-default .odd td {
	background-color: #F7F7F7;
	border:1px solid #999999;
}
.ajaxtable-default .odd td td,  .ajaxtable-default .even td td{
	border:0px;
}
.ajaxtable-default .even td {
	background-color: #E4E4E4;
	border:1px solid #999999;
}
.ajaxtable-default tbody {
	border:0px;
}
.ajaxtable-default {
	line-height:100%;
}

.ajaxtable-default-pointer {
	cursor:pointer;
}
.ajaxtable-default-search {
	text-align:center;
	border-top:1px solid #6a9eb0;
	background:url(search-bg.gif) repeat-x bottom #e5f6fc;
	padding:1px;
}
.ajaxtable-default-search td {
	white-space:nowrap;
	vertical-align:middle;
}
.ajaxtable-default-asc-off {
	height:16px;
	width:16px;
	background-image:url(asc_off.gif);
}
.ajaxtable-default-asc-on {
	height:16px;
	width:16px;
	background-image:url(asc_on.gif);
}
.ajaxtable-default-desc-off {
	height:16px;
	width:16px;
	background-image:url(desc_off.gif);
}
.ajaxtable-default-desc-on {
	height:16px;
	width:16px;
	background-image:url(desc_on.gif);
}
.ajaxtable-default-help {
	height:16px;
	width:16px;
	background-image:url(help.gif);
	margin-right:2px;
}
.ajaxtable-default-info-td {
	width:100%;
	text-align:right;
	margin-left:10px;
}
.ajaxtable-default-autosearch-icon {
	height:16px;
	width:16px;
	background-image:url(autosearch.gif);
}
.ajaxtable-default-button a, .ajaxtable-default-button a:link, .ajaxtable-default-button a:visited { 
	display:block;
	padding-left:10px;
	padding-right:10px;
	font-size:12px;
	color:#000000;
	text-decoration:none;
	border:1px solid #999999;
	background-color: #ffffff;
	text-align:center;
	font-weight:bold;
	background:url(button-bg.gif) bottom repeat-x;
}
.ajaxtable-default-hover {
	cursor:pointer;
}
.ajaxtable-default .ajaxtable-default-hightlight td {
	background-color:#FFFF66;
}

/* Styles applied in theme */
.ajaxtable-default-nav {
	border-top:1px solid #6a9eb0;
	margin-bottom:4px;
	border-bottom:1px solid #7ca256;
	background:url(nav-bg.gif) repeat-x top #f0fce5;
	font-size:11px;
	padding:1px;
}
.ajaxtable-default-nav td {
	padding-right:5px;
	padding-left:5px;
	vertical-align:middle;
	white-space:nowrap;
}
.ajaxtable-default-search-table td {
	white-space:nowrap;
}
.ajaxtable-default-search-table-left {
	width:50%;
}
.ajaxtable-default-search-table-right {
	width:50%;
}
.ajaxtable-default-th-label {
	width:100%;
}
.ajaxtable-default .jscalendar-icon {
	display:inline;
	background-image:url(calendar.gif);
}


/* Cluetip styles */

.clue-right-ajaxtable-default-jtitle {
  background-image: url(cluetip-arrow-left.gif);
  background-repeat: no-repeat;
  padding-left: 10px;
}
.clue-left-ajaxtable-default-jtitle {
  background-image: url(cluetip-arrow-right.gif);
  background-repeat: no-repeat;
  padding-right: 10px;
}
.cluetip-ajaxtable-default-jtitle h3#cluetip-title { 
	background-color: #666666;
	color:#FFFFFF;
	font-size:13px;
	font-weight:bold;
	margin:0px;
}
.cluetip-ajaxtable-default-jtitle #cluetip-outer {
  border: 1px solid #666666;
  position: relative;
  background-color: #fff;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
}
.cluetip-ajaxtable-default-jtitle #cluetip-inner {
  padding: 0;
  display: inline-block;
	padding:2px;
}
.cluetip-ajaxtable-default-jtitle #cluetip-inner, .cluetip-ajaxtable-default-jtitle #cluetip-inner li {
	margin:0px;
	line-height:normal;
}